<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>InvenTree Software</title>
    <!-- CSS files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="../static/style.css" rel="stylesheet" />
  </head>

  <body class="bg-base pb-6">
    <!-- Header  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5 bg-base">
      <div class="container-fluid">
        <a class="color-brand h4 mb-0" href="{{url_for('dashboard')}}"
          >InvenTree</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <!-- Dashboard -->
            <a class="nav-link" aria-current="page" href="{{url_for('dashboard')}}"> Dashboard </a>

            <!-- TODO -->
            <!-- Profile -->
            <a class="nav-link" aria-current="page" href="{{url_for('profile')}}"> Profile </a>

            <!-- Contact -->
            <a class="nav-link" href="{{url_for('contactus')}}">Contact</a>

            <!-- Logout -->
            <a class="nav-link" href="{{url_for('logout')}}"> Logout </a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer
      class="footer d-flex justify-content-between align-items-center px-5 py-4"
    >
      <p class="mb-0" style="color: white">@ 2023 InvenTree, Inc</p>

      <div
        class="d-flex"
        style="min-width: 150px"
      >
        <a href="{{url_for('dashboard')}}" class="nav-link-white">Home</a>
      </div>
    </footer>

    <!-- javascript header files -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
