<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript"> 
      window.history.forward(); 
      function noBack() { 
          window.history.forward(); 
      } 
  </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>InvenTree Software</title>
    <!-- CSS header files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="/static/style.css" rel="stylesheet" />
  </head>

  <body class="bg-base body">
    <!-- Header  -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5 bg-base">
      <div class="container-fluid">
        <a class="color-brand h4 mb-0" href="{{url_for('dashboard')}}"
          >InvenTree</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <!-- TODO -->
            <!-- Profile -->
            <!-- if user is not loggedin -->
            {% if session==False %}
            <a class="nav-link" href="{{url_for('welcome')}}">About Us</a>
            {% else %}
            <!-- if user is logged in -->
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
            <a class="nav-link" aria-current="page" href="{{url_for('profile')}}"> Profile </a>
            <!-- Contact -->
            <!-- TODO -->
            <a class="nav-link" href="{{url_for('contactus')}}">Contact</a>
            <!-- Logout -->
            <!-- TODO -->
            <a class="nav-link" href="{{url_for('logout')}}"> Logout </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <!-- body content -->
    <div class="container d-flex my-5 py-5 justify-content-between">
      <div
        class="contact-content mt-5 ms-lg-5 d-flex flex-column justify-content-center"
      >
        <h2>Contact Us</h2>
        <p class="mb-0 mt-4">
          Need to get in touch with the team? We’re all ears.
        </p>
        <p class="mb-0">Email Us at - Support@inventree.com</p>
        <p class="mb-0">Call Us at - +91 775xx 631xx</p>
        <div class="d-flex mt-4">
            <a class="btn btn-primary me-3 btn-primary" type="Email" href="mailto:support@inventree.com">Email Me</a>
            <a class="btn btn-primary" type="Email" href="callto:9926991904">Call Me</a>
        </div>
      </div>

      <!-- Contact page image code -->
      <div class="d-flex justify-content-center">
        <img
          src="/static/ContactUsIMG.png"
          alt=""
          class="contact-img"
          style="height: 300px"
          name="ContactUsIMG"
        />
      </div>
    </div>

    <!-- Footer -->
    <footer
      class="footer d-flex justify-content-between align-items-center px-5 py-4"
    >
      <p class="mb-0" style="color: white">@ 2023 InvenTree, Inc</p>

      <div
        class="d-flex justify-content-between align-items-center"
        style="min-width: 150px"
      >
   
      </div>
    </footer>

    <!-- JavaScript header files  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
