<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InvenTree</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link href="/static/style.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body class="bg-base">
    <!-- navbar -->
    <nav class="navbar bg-body-tertiary px-4 bg-base">
      <div class="container-fluid">
        <a href="/" class="navbar-brand mb-0 h1 color-brand">InvenTree</a>
        <div>
          <a href="/" class="nav-link">About Us</a>
        </div>
      </div>
    </nav>

    <!-- Main -->
    <div class="container mt-5">
      <!-- IMG -->
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-6">
          <img
            class="login-img"
            src="../static/login_img.svg"
            alt="Login-page-image"
          />
        </div>

        <div class="col-2"></div>

        <!-- FORm -->
        <div class="col-4 card d-flex align-items-center p-3 border-0">
          <h3 class="color-brand mt-4">LOGIN</h3>
          <form
            action="{{url_for('login')}}"
            method="post"
            class="mt-4 w-100 p-2"
          >
            <div
              class="form-floating border-0 border-bottom border-danger mb-3"
            >
              <input
                type="username"
                class="form-control border-0 shadow-none"
                autocomplete="off"
                required
                id="username"
                placeholder="Enter your username"
                name="username"
              />
              <label for="username">Username</label>
            </div>

            <div
              class="form-floating border-0 border-bottom border-danger mb-3 d-flex align-items-center"
            >
              <input
                type="password"
                class="form-control shadow-none border-0"
                autocomplete="off"
                required
                id="password"
                placeholder="Enter your password"
                name="password"
              />

              <label for="password">Password</label>
              <!-- <i class="bi bi-eye-slash" id="togglePassword"></i> -->
            </div>

            <div class="text-md-end mt-2">
              <a href="{{url_for('forgot_password')}}" class="color-brand">Forgot Password?</a>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %} {%
            for message in messages %}
            <div
              class="alert alert-danger alert-dismissible fade show mt-3"
              role="alert"
            >
              <strong>{{ message.title() }}!</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>

            {% endfor %} {% endif %} {% endwith %}
            <button
              type="submit"
              class="btn btn-block w-100 mt-5 mb-4 login-btn btn-lg color-brand toggle-button"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------- -->

    <script>
      let eyeicon = document.getElementById("togglePassword")
      let password = document.getElementById("password")

      eyeicon.onclick = function(){
        if (password.type == "password"){
          password.type = "text"
        } else{
          password.type = "password"
        }
      }

    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
