{% extends 'base.html' %}
 
{% block content %}
<!-- body content -->
<div class="container mt-4" style="min-height: 452px;">
 
    <h3>Employee Details</h3>
    <form action="{{url_for('users_details_page',user_id=user_id)}}" method="post">
        <div class="row">
            <!-- Employee id  -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">Employee ID</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly
                    class="form-control-plaintext" value="{{ employeedetails[0]}}">
            </div>
            <!-- Employee Name -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">Employee Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly
                    class="form-control-plaintext" value="{{employeedetails[2]}}">
            </div>
        </div>
 
        <div class="row">
            <!-- Email ID -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">Email ID</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly
                    class="form-control-plaintext" value="{{employeedetails[6]}}">
            </div>
            <!-- Contact Number -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                        readonly class="form-control-plaintext" value="{{employeedetails[5]}}"
                        aria-label="mobile number">
 
            </div>
        </div>
 
        <div class="row">
            <!-- Designation -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">Designation :</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly
                    class="form-control-plaintext" value="{{employeedetails[4]}}">
            </div>
            <!-- Status of Employee active or inactive -->
            <div class="mb-3 mt-4 col-6">
                <label for="exampleFormControlInput1" class="form-label">User name:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly
                    class="form-control-plaintext" value="{{employeedetails[1]}}">
            </div>
        </div>
 
 
    </form>
</div>
 
{%endblock%}